@import '../../styles/mixins';

.TechList {
  list-style: disc;
  column-count: 2;
  column-gap: 2rem;
  margin: 1rem auto 0 auto;
  overflow: hidden;
  padding-left: 1.25rem;
}

@include medium-screens {
  .TechList {
    column-count: 3;
  }
}