@import '../../styles/mixins';

.TechList {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 180px));
  column-gap: 2.25rem;
  margin: 1rem auto;
  overflow: hidden;
  list-style: square;
  padding-left: 1.25rem;
}

@include medium-screens {
  .TechList {
    grid-template-columns: repeat(3, minmax(100px, 180px));
  }
}

@include large-screens {
  .TechList {
    grid-template-columns: repeat(2, minmax(100px, 160px));

  }
}