@import '../../styles/mixins';

.Cls1 {
  fill: var(--secondary-color);
}

.Cls2 {
  fill: var(--primary-color);
}

.Cls3, .Cls4, .Cls5 {
  fill:none;
  stroke-miterlimit:10;
}

.Cls3, .Cls5 {
  stroke: var(--secondary-color);
}

.Cls3 {
  stroke-width:2px;
}

.Cls4 {
  stroke: var(--primary-color);
  stroke-width:4px;
}

.Cls5 {
  stroke-width:6px;
}

.Top, .Bottom {
  display: none;
}

@include medium-screens {
  .Top, .Bottom {
    display: block;
    position: absolute;
    z-index: -1;
    max-width: 300px;
  }

  .Top {
    top: -100px;
    right: -100px;
  }

  .Bottom {
    bottom: -100px;
    left: -120px;
  }
}

@include large-screens {
  .Top, .Bottom {
    max-width: 350px;
  }
  .Top  {
    top: -150px;
    right: -100px;
  }
  
  .Bottom {
    bottom: -150px;
    left: -130px;
  }
}