.Cls1, .Cls3 {
  fill: #b186f9;
} 

.Cls1 {
  opacity: 0.1;
}

.Cls2, .Cls6 { 
  fill: #fff;
}

.Cls2, .Cls3, .Cls6, .Cls7 {
  stroke: #231f20;
  stroke-width: 0.25px;
}

.Cls2, .Cls3 {
  stroke-miterlimit: 10;
}

.Cls4{
  fill: #6525cc;
}

.Cls5 {
  fill: #231f20;
}

.Cls6, .Cls7 {
  stroke-linejoin: round;
}

.Cls7 {
  fill: #391573;
}
