.Cls1, .Cls2 {
  fill: #b186f9;
}

.Cls1 {
  opacity: 0.1;
}

.Cls3 {
  fill: #6525cc; 
}

.Cls4 {
  fill: #fff;
}

.Cls5, .Cls6 {
  fill: none;
  stroke: #b186f9;
  stroke-miterlimit: 10;
}

.Cls5 {
  stroke-width: 0.75px;
}

.Cls7 {
  fill: #391573;
}

.Cls8 {
  opacity: 0.1;
  isolation:isolate;
}
