@import '../../styles/variables';
@import '../../styles/mixins';

.Hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 2rem;
  overflow-x: hidden;
  min-height: calc(75vh - 70px);

  h2 {
    padding-top: 1rem;
    font-size: 1.25rem;
    font-weight: initial;
  }
}

.Left {
  flex: 1;
}

.Right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // padding: 1rem;
}

// Medium screens styles
@include medium-screens {
  .Hero {
    padding: 1rem 4rem;
    
    h1 {
      font-size: 3.052rem;
    }

    h2 {
      padding-top: .5rem;
      max-width: 500px;
    }
  }

  .Right img {
    max-height: 350px;
  }
}

@include large-screens {
  .Hero {
    flex-direction: row;
    max-width: $width-main;
    margin: 0 auto;

    h1 {
      line-height: 1.25;
      font-size: 3.815rem;
      text-align: left;
      padding-bottom: 1rem;
    }
  
    h2 {
      font-size: 1.56rem;  
      text-align: left;  
      max-width: $width-text; 
    }
  } 
}