@import './variables';

.Purple {
  --primary-color: #6525CC;
  --primary-color-dark: #B186F9;
  --secondary-color: #391573;
}

.Orange {
  --primary-color: #FF7033;
  --primary-color-dark: #FFAD33;
  --secondary-color: #C25424;
}

.Teal {
  --primary-color: #1898A0;
  --primary-color-dark: #30E2CD;
  --secondary-color: #0F6B71;
}