$text-color-primary: #1F1E1E;
$gray-primary: #C4C4C4;
$gray-light: #f7f8f8;

// $purple-primary: #6525CC;
// $purple-light: #B186F9;
// $purple-dark: #391573;

// $teal-primary: #1898A0;
// $teal-light: #30E2CD;
// $teal-dark: #0F6B71;

// $orange-primary: #FF7033;
// $orange-light: #FFAD33;
// $orange-dark: #C25424;

$width-main: 1180px;
$width-text: 640px;