@import '../../styles/variables';
@import '../../styles/mixins';

.SplitPane {
  max-width: $width-main;
  min-height: calc(80vh - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.SplitPaneImg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  svg {
    width: 100%;
  }
}

.SplitPaneText {
  flex: 1;
  padding: 1rem;
  margin: 0 auto;

  ul {
    list-style: circle;
    padding-left: 1.25rem;
    margin-bottom: .25rem;
  }

  h3 {
    margin-bottom: .5rem;
  }
}

@include medium-screens {
  .SplitPaneText {
    max-width: 80%;
  }

  .SplitPaneImg {
    svg {
      width: 100%;
    }
  }
}

@include large-screens {
  .SplitPane {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 2rem;

    h1, h2 {
      text-align: left;
    } 
  }

  .Reverse {
    flex-direction: row-reverse;
  }

  .SplitPaneImg {
    flex: 1;
    margin: 1rem;

    svg {
      width: 90%;
    }
  }

  .SplitPaneText {
    flex: 1;
    margin: 1rem;
  }

}