@import '../../styles/variables';

.Option {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1.5px solid #fff;
  margin: .35rem;
  padding: initial;
  cursor: pointer;
  
  &:hover {
    border: 3px solid #fff;
  }
}

.Purple {
  background-color: #6525CC;
}

.Orange {
   background-color: #FF7033;
}
 
.Teal {
  background-color: #1898A0;
}