.Cls1 {
  fill:var(--secondary-color);
}

.Cls2 {
  fill: var(--primary-color-dark);
} 

.Cls3 {
  fill:#fff;
}

.Cls4, .Cls5 {
  fill: none;
  stroke: var(--secondary-color);
  stroke-miterlimit: 10;
}

.Cls4 {
  stroke-width: 0.75px;
}

.Cls6 {
  fill: var(--primary-color-dark);
}

.Cls7 { 
  opacity: 0.1;
  isolation: isolate;
}

.Cls8 {
  fill: #fff;
}

.Cls9 {
  fill: var(--primary-color);
}
