@import '../../styles/mixins';
@import '../../styles/color-themes';

.NavLinks {
  display: none;
  padding-top: 1rem;
}

.NavLink {
  text-align: center;
  margin: 1rem auto;
}

a:hover {
  text-decoration: var(--primary-color) solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
  -webkit-text-underline-position: 10%;
  text-decoration-thickness: 2px;
}

.Open {
  display: block;
}

@include large-screens {
  .NavItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: initial;
  }

  .NavItem {
    margin: 0 0 0 2rem;
  }
}